/Java Oracle/Java Projects/MyFirstProject/nbproject/private/
/Java Oracle/Java Projects/MyFirstProject/build/
/Java Oracle/Java Projects/Variables/nbproject/private/
/Java Oracle/Java Projects/Chikens01/nbproject/private/
/Java Oracle/Java Projects/Chikens01/build/
/Java Oracle/Java Projects/ShoppingCart01/nbproject/private/
/Java Oracle/Java Projects/ShoppingCart01/build/
/Java Exercise/Exercise - For/nbproject/private/
/Java Exercise/Exercise - For/build/
/Java Exercise/Exercise - SwitchCase/nbproject/private/
/Java Exercise/Exercise - SwitchCase/build/
/Java Exercise/Exercise - IfElse/nbproject/private/
/Java Exercise/Exercise - IfElse/build/
/Java Exercise/Exercise - TernaryOperator/nbproject/private/
/Java Exercise/Exercise - TernaryOperator/build/
/Java Exercise/Exercise - While/nbproject/private/
/Java Exercise/Exercise - While/build/
/Java Exercise/Exercise - DoWhile/nbproject/private/
