/Java Oracle/Java Projects/MyFirstProject/nbproject/private/
/Java Oracle/Java Projects/MyFirstProject/build/
/Java Oracle/Java Projects/Variables/nbproject/private/
/Java Oracle/Java Projects/Chikens01/nbproject/private/
/Java Oracle/Java Projects/Chikens01/build/
/Java Oracle/Java Projects/ShoppingCart01/nbproject/private/
/Java Oracle/Java Projects/ShoppingCart01/build/
