/Java Oracle/Java Projects/MyFirstProject/nbproject/private/
/Java Oracle/Java Projects/MyFirstProject/build/
/Java Oracle/Java Projects/Variables/nbproject/private/
/Java Oracle/Java Projects/Chikens01/nbproject/private/
/Java Oracle/Java Projects/Chikens01/build/
/Java Oracle/Java Projects/ShoppingCart01/nbproject/private/
/Java Oracle/Java Projects/ShoppingCart01/build/
/Java Exercise/Exercise - For/nbproject/private/
/Java Exercise/Exercise - For/build/
/Java Exercise/Exercise - SwitchCase/nbproject/private/
/Java Exercise/Exercise - SwitchCase/build/
/Java Exercise/Exercise - IfElse/nbproject/private/
/Java Exercise/Exercise - IfElse/build/
/Java Exercise/Exercise - TernaryOperator/nbproject/private/
/Java Exercise/Exercise - TernaryOperator/build/
/Java Exercise/Exercise - While/nbproject/private/
/Java Exercise/Exercise - While/build/
/Java Exercise/Exercise - DoWhile/nbproject/private/
/Java Oracle/Java Projects/AgeValidity/nbproject/private/
/Java Oracle/Java Projects/AgeValidity/build/
/Java Oracle/Java Projects/ChkOddEven/nbproject/private/
/Java Oracle/Java Projects/ChkOddEven/build/
/Java Oracle/Java Projects/AgeCheck/nbproject/private/
/Java Oracle/Java Projects/AgeCheck/build/
/Java Oracle/Java Projects/ShoppingCart/nbproject/private/
/Java Oracle/Java Projects/ShoppingCart/build/
/Java Oracle/Java Projects/StringEquality/nbproject/private/
/Java Oracle/Java Projects/StringEquality/build/
/Java Oracle/Java Projects/ComputeFare/nbproject/private/
/Java Oracle/Java Projects/ComputeFare/build/
/Java Oracle/Java Projects/TernaryOperator/nbproject/private/
/Java Oracle/Java Projects/WatchMovie/nbproject/private/
/Java Oracle/Java Projects/WatchMovie/build/
/Java Oracle/Java Projects/TernaryOperator/build/
/Java Oracle/Java Projects/SwitchEx1/nbproject/private/
/Java Oracle/Java Projects/SwitchEx1/build/
/Java Oracle/Java Projects/ColorRange/nbproject/private/
/Java Oracle/Java Projects/TrafficLightChecker/nbproject/private/
/Java Oracle/Java Projects/TrafficLightSwitch/nbproject/private/
/Java Oracle/Java Projects/JavaLibs/nbproject/private/
/Java Oracle/Java Projects/TestClass/nbproject/private/
/Java Oracle/Java Projects/ProcessName/nbproject/private/
/Java Oracle/Java Projects/ValidatePin/nbproject/private/
/Java Oracle/Java Projects/DisplayMultples/nbproject/private/
/Java Oracle/Java Projects/LoopShare/nbproject/private/
/Java Oracle/Java Projects/LoopShape/nbproject/private/
